<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Default page</title>
    </head>
<body>
    <h1>
        Test page
    </h1>
    <p>
        Test
    </p>
    <h2>Index</h2>
    <ul>
        <li><a href="http://${NGINX_SYMFONY_SERVER_NAME}${OPENAPI_URI}" target="_blank">Documentation</a></li>
    </ul>
</body>
</html>
